<style>
    .widget {
        min-height: 175px;
    }
    .widget-simple {
        display: flex;
        align-items: center
    }
</style>
<!-- Page content -->
<div id="page-content">
    <!-- Statistics Widgets Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-charts"></i>Project Covid<br><small>Thống kê</small>
            </h1>
        </div>
    </div>
    <!-- END Statistics Widgets Header -->

    <!-- Simple Stats Widgets Row -->
    <div class="row">
        <div class="col-sm-4">
            <!-- Widget -->
            <div class="widget">
                <div class="widget-simple">
                    <a href="javascript:void(0)" class="widget-icon pull-left themed-background-blackberry">
                        <i class="fa fa-hourglass-start"></i>
                    </a>
                    <h3 class="text-center animation-stretchRight" style="flex: 1">Số lượng các gói Nhu yếu phẩm được
                        tiêu thụ<br><strong style="font-size: 50px">50</strong></h3>
                </div>
            </div>
            <!-- END Widget -->
        </div>
        <div class="col-sm-4">
            <!-- Widget -->
            <div class="widget">
                <div class="widget-simple">
                    <a href="javascript:void(0)" class="widget-icon pull-left themed-background">
                        <i class="gi gi-package"></i>
                    </a>
                    <h3 class="text-center animation-stretchRight" style="flex: 1">
                        Số lượng các sản phẩm được tiêu thụ<br><strong style="font-size: 50px">50</strong></h3>
                </div>
            </div>
            <!-- END Widget -->
        </div>
        <div class="col-sm-4">
            <!-- Widget -->
            <div class="widget">
                <div class="widget-simple">
                    <a href="javascript:void(0)" class="widget-icon pull-left themed-background-danger">
                        <i class="fa fa-money"></i>
                    </a>
                    <h3 class="text-center animation-stretchRight" style="flex: 1">
                        Tổng dư nợ<br><strong style="font-size: 50px">50000000</strong>
                    </h3>
                </div>
            </div>
            <!-- END Widget -->
        </div>
    </div>
    <!-- END Simple Stats Widgets Row -->

    <div class="row">
        <div class="block">
            <!-- Example Title -->
            <div class="block-title">
                <h2>Biểu đồ thống kê số lượng người mắc Covid-19</h2>
            </div>
            <!-- END Example Title -->

            <!-- Example Content -->
            <form action="" method="post" class="form-horizontal" onsubmit="return false;">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="example-daterange1">Chọn khoảng thời gian: </label>
                    <div class="col-md-6">
                        <div class="input-group input-daterange" data-date-format="mm/dd/yyyy">
                            <input type="text" id="example-daterange1" name="example-daterange1"
                                   class="form-control text-center" placeholder="Ngày bắt đầu">
                            <span class="input-group-addon"><i class="fa fa-angle-right"></i></span>
                            <input type="text" id="example-daterange2" name="example-daterange2"
                                   class="form-control text-center" placeholder="Ngày kết thức">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit
                        </button>
                        <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
                    </div>
                </div>
            </form>
            <div style="max-width: 600px; margin: 20px auto">
                <canvas id="chartStatus"></canvas>
            </div>
            <!-- END Example Content -->
        </div>
    </div>

    <div class="row">
        <div class="block">
            <!-- Example Title -->
            <div class="block-title">
                <h2>Biểu đồ thống kê số chuyển trạng thái, khỏi bệnh</h2>
            </div>
            <!-- END Example Title -->

            <!-- Example Content -->
            <div style="max-width: 300px; margin: 20px auto">
                <canvas id="chartOther" style="width:300px;max-width:600px"></canvas>
            </div>
            <!-- END Example Content -->
        </div>
    </div>

</div>
<!-- END Page Content -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script>
    const xValues = ["F0", "F1", "F2", "F3"];
    const yValues = [55, 49, 44, 24];
    const barColors = ["red", "green", "blue", "orange"];

    new Chart("chartStatus", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: {display: false},
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<script>
    const xValues1 = ["Chuyển trạng thái", " Khỏi bệnh"];
    const yValues1 = [10, 1];
    const barColors1 = ["blue", "red"];

    new Chart("chartOther", {
        type: "bar",
        data: {
            labels: xValues1,
            datasets: [{
                backgroundColor: barColors1,
                data: yValues1
            }]
        },
        options: {
            legend: {display: false},
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>