<div id="page-content">
    <!-- Page Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="gi gi-brush"></i>Chào mừng bạn trở lại <br><small><%= user?.username %></small>
            </h1>
        </div>
    </div>
    <!-- END Page Header -->

</div>